// Secondary: Resets
@mixin reset_widget() {
	margin: 0;
	padding: 0;
}
@mixin reset_widget_list() {
	list-style: none;
	margin: 0;
	padding: 0;
}

// UI
@mixin border_all() {
	border-top: $border_width $border_style $border_color;
	border-right: $border_width $border_style $border_color;
	border-bottom: $border_width $border_style $border_color;
	border-left: $border_width $border_style $border_color;
}
@mixin border_top() {
	border-top: $border_width $border_style $border_color;
}
@mixin border_right() {
	border-right: $border_width $border_style $border_color;
}
@mixin border_bottom() {
	border-bottom: $border_width $border_style $border_color;
}
@mixin border_left() {
	border-left: $border_width $border_style $border_color;
}

// Buttons
@mixin circle {
	height: 45px;
	width: 45px;
	border-radius: 24px;
	transition: all 0.2s ease-in-out;
}

// Typography
@mixin capitalize() {
	text-transform: capitalize;
}

// Icons
@mixin icon_fa() {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	font-size: $icon_size;
	color: $icon_color;
	display: block;
	width: $icon_size;
	height: $icon_size;
	float: left;
	margin: $icon_top $icon_right $icon_bottom $icon_left;
}
@mixin list_boxes() {
	float: left;
	display: block;
	width: 23%;
	height: 50px;
	margin-right: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #ccc;
}
@mixin list_buttons() {
	list-style: none;
	float: left;
	text-align: center;
	margin-bottom: 10px;
}

// Comments
@mixin comment() {
	position: relative;
	float: left;
	display: block;
	width: 100%;
	height: auto;
	margin-bottom: 20px;
	padding: 20px 10px 15px 20px;
	background: #fff;
	transition: all 0.2s ease-in-out;
}
@mixin comment-hover() {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

// Lists
@mixin list_bars() {
	list-style: none;
	float: left;
	text-align: center;
	margin-bottom: 5px;
}
@mixin list_icons() {
	list-style: none;
	margin: 0;
	padding-top: 0;
	padding-right: 5px;
	padding-bottom: 0;
	padding-left: 0;
}
@mixin list_icons_nowrap() {
	padding-left: 35px;
	text-indent: -35px;
}
@mixin list_icons_separator() {
	content: '';
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
	border-bottom: 1px dotted #ccc;
}

// Widgets
@mixin widget_title_dark() {
	font-size: 18px;
	color: rgba( 255, 255, 255, 1);
	background: rgba( 0, 0, 0, 1 );
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}
@mixin widget_title_light() {
	font-size: 18px;
	border-top: 5px solid rgba( 0, 0, 0, 1 );
	color: rgba( 0, 0, 0, 1 );
	padding-top: 15px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}